<div id="content">
    <div id="create-post">
        <button id="create-button">Create new post!</button>
    </div>
    <div id="posts"></div>
    <div id="loadmore">
        <button id="more-button">Load more posts</button>
    </div>
</div>

<div id="sidebar">
    
</div>
<script src="homepage.js"></script>